<%
page_title t('shared.common.show_title',
             model: t('activerecord.models.story', count: 1),
             title: @story.title)
%>

<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @story,
          index_path: admin_stories_path,
          show_path: story_show_path,
          edit_path: edit_admin_story_path
                }
  %>
</div>

<div class="actions-container">
  <strong><%=t 'activerecord.attributes.story.is_published' %>:</strong>
  <%= format_boolean_flag(@story.is_published) %>
</div>

<%= render partial: 'shared/story_show' %>

