<footer class='app-footer'>
  <p class='app-footer-left'>&copy; <%= Time.now.year %></p>
  <%= link_to image_tag('forset-logo.png', class: 'app-footer-right'),
              'https://forset.ge',
              target: '_blank',
              title: t('shared.common.forset.slogan') %>
</footer>
