<footer>
  <%= link_to image_tag('forset.svg'),
              'https://forset.ge',
              target: '_blank',
              title: t('shared.common.forset.slogan') %>
  <div class="separator"></div>
  <%= link_to image_tag('eurasianet.svg'),
              "#{I18n.locale == :en ? 'eurasianet.org' : 'http://russian.eurasianet.org/'}",
              target: '_blank',
              title: t('shared.common.eurasianet.slogan'), class: 'last' %>
</footer>
